<div class="center">
  <button id="sendOfferButton" (click)="call()">Call</button>
  <button id="answerButton" (click)="answer()">Answer</button>
  <button id="hangUpButton" (click)="endCall()">Hang Up</button><br/><br/>

  <input id="messageInput" type="text" size="80" placeholder="Enter message to send">
  <button id="sendMessageButton" (click)="sendMessage()">Send Message</button><br/><br/>

  <p style="text-align: center">Tap to Change Front/Back Camera</p>

  <div id="videoContainer">
      <video id="localVideo" (click)="switchMobileCamera()" muted autoplay playsinline></video>
      <video id="remoteVideo" autoplay playsinline></video>
  </div>

  <table style="width:100%">
    <tr>
      <th>Outbound Video Stats</th>
      <th>Inbound Video Stats</th>
    </tr>
    <tr>
      <td><div readonly id="outBoundstats"></div></td>
      <td><div readonly id="inBoundstats"></div></td>
    </tr>
  </table>

</div>
<br/><br/>

<textarea readonly id="chatTextArea"></textarea><br/><br/>

<textarea readonly id="logs"></textarea><br/><br/>
